<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body style="background-color:rgb(251, 249, 242);">
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Selahattin Cansiz
              </h1>
              <p>
                I am currently pursuing a PhD degree in <a href="https://cs.ku.edu.tr/">Computer Science and Engineering</a> under the supervision of <a href="https://scholar.google.com/citations?user=d1I0jcAAAAAJ&hl=en&oi=ao">Prof. Cigdem Gunduz-Demir</a> at <a href="https://www.ku.edu.tr/en/">Koc University</a>, Istanbul, Turkey. I am also a researcher at the <a href="https://ai.ku.edu.tr/">KUIS AI Center</a> at Koc University. My current research interests include medical image analysis using deep learning techniques.
              </p>
                                                                    <!-- <HR> -->
              <p>
                From Jul. 2022 to Sep. 2024, I worked as an AI Engineer at <a href="https://www.ponstech.co/">PONS</a>, a startup founded by <a href=https://scholar.google.com/citations?user=dA7G64kAAAAJ&hl=en&oi=ao">Prof. Ilker Hacihaliloglu</a>. During this time, our work focused on utilizing ultrasound imaging to enhance risk assessment and facilitate diagnosis at the point of care. As part of the research on ultrasound images, I participated as a visiting researcher at <a href="https://www.ubc.ca/">University of British Columbia (UBC)</a>.
              </p>
                                                                                                                            <!-- <HR> -->
              <p>
                I received my MSc degree in <a href="https://w3.cs.bilkent.edu.tr/">Computer Engineering</a> from <a href="https://w3.bilkent.edu.tr/bilkent/">Bilkent University</a>, Ankara, Turkey, in 2022. I was a research assistant focusing on the analysis of retinal layers in OCT images and supervised by Prof. Cigdem Gunduz-Demir.
              </p>
                                                                    <!-- <HR> -->
              <p>
                I have a BSc degree in Industrial Engineering from <a href="https://bogazici.edu.tr/en-US/Index">Bogazici University</a>, Istanbul, Turkey.
              </p>
                                                                    <!-- <HR> -->
              <p style="text-align:center">
                <a href="mailto:scansiz22@ku.edu.tr"> Email </a> &nbsp;/&nbsp;
                <a href="https://github.com/scansiz34"> GitHub </a> &nbsp;/&nbsp;
                <a href="https://huggingface.co/scansiz"> HuggingFace </a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=a3HSaDQAAAAJ&hl=en"> Google Scholar </a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/selahattin-cansiz-814223b0/"> LinkedIn </a>
              </p>
              
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <!-- <img style="width:60%;max-width:60%" alt="profile photo" src="images/scansiz.jpeg"> -->
              <img style="width:60%;max-width:60%;object-fit: cover; border-radius: 50%;" alt="profile photo" src="images/scansiz.jpeg" class="hoverZoomLink">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I am interested in supervised and unsupervised models for Medical AI.
              </p>
            </td>
          </tr>
        </table>

        <table 
        <tr bgcolor="#ffffd0">
          <td style="padding:20px;width:25%;vertical-align:middle">
            <img src="images/cone.png" alt="cone" width="160" height="120" style="border-style: none">
          </td>
          <td width="75%" valign="middle">
            <a href="https://journals.lww.com/retinajournal/abstract/9900/analysis_of_henle_s_fiber_layer_and_outer_retinal.838.aspx" id="cone">
              <span class="papertitle"><strong>Analysis of Henle’s Fiber Layer and Outer Retinal Layers in Cone Dystrophy</strong></span>
            </a>
            <br>
            Cem Kesim, <strong>Selahattin Cansiz</strong>, Umit Yasar Guleser, Cigdem Gunduz-Demir, Murat Hasanreisoglu
            <br>
            <em>Retina</em>, 2024
            <br>
            <!-- <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=9973287">paper</a>  -->
            <p>
              This study aims to perform a comparative volumetric HFL analysis between cone dystrophy patients and healthy control subjects.</p>
          </td>
        </tr>
        </table>


        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
                <HR>
            </td>
          </tr>
        </table>


        <table 
        <tr bgcolor="#ffffd0">
          <td style="padding:20px;width:25%;vertical-align:middle">
            <img src="images/fouriernet.png" alt="fouriernet" width="160" height="120" style="border-style: none">
          </td>
          <td width="75%" valign="middle">
            <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=9973287" id="fouriernet">
              <span class="papertitle"><strong>FourierNet: Shape-Preserving Network for Henle’s Fiber Layer Segmentation in Optical Coherence Tomography Images</strong></span>
            </a>
            <br>
            <strong>Selahattin Cansiz</strong>, Cem Kesim, Sevval Nur Bektas, Zeynep Kulali, Murat Hasanreisoglu, Cigdem Gunduz-Demir
            <br>
            <em>IEEE JBHI</em>, 2023
            <br>
            <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=9973287">paper</a> 
            <p>
              FourierNet is a new cascaded network design that puts forward the idea of benefiting the shape prior of HFL in the network training.</p>
          </td>
        </tr>
        </table>

                    

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:right;font-size:small;">
                <a style="font-size:small;" href="https://jonbarron.info">[Design and source code]</a>
              </p>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
</body>

</html>

