<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Selahattin Cansiz
              </h1>
              <p>
                I am a PhD fellow in Computer Science at <a href="https://cs.illinois.edu/">UIUC</a> advised by <a href="https://scholar.google.com/citations?user=GMcL_9kAAAAJ">Prof. Dilek Hakkani-Tur</a> and <a href="https://scholar.google.com/citations?user=8XSlAp4AAAAJ&hl=en">Prof. Gokhan Tur</a>. My research focus is in Conversational and Generative AI.
              </p>
                                                                    <!-- <HR> -->
              <p>
                I obtained my MSc in <a href="https://cs.ku.edu.tr/">Computer Science</a> at <a href="https://www.ku.edu.tr/en/">Koc University</a>. I worked around Large Language Models and Multimodal Learning under the supervision of <a href="http://www.denizyuret.com/">Deniz Yuret</a> and <a href="https://aykuterdem.github.io/">Aykut Erdem</a>.
              </p>
                                                                    <!-- <HR> -->
              <p>
                Prior to my MSc, I recieved my BSc in Electrical and Electronics Engineering (AI focus) from Koc University, where I worked under the supervision of <a href="http://www.denizyuret.com/">Deniz Yuret</a> on <a href="http://www.denizyuret.com/2022/08/kuis-ai-success-in-1st-shared-task-on.html">supervised and unsupervised morphological analysis</a>.
              </p>
                                                                    <!-- <HR> -->
              <p style="text-align:center">
                <a href="mailto:scansiz22@ku.edu.tr"> Email </a> &nbsp;/&nbsp;
                <a href="https://github.com/scansiz34"> GitHub </a> &nbsp;/&nbsp;
                <a href="https://huggingface.co/scansiz"> HuggingFace </a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=a3HSaDQAAAAJ&hl=en"> Google Scholar </a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/selahattin-cansiz-814223b0/"> LinkedIn </a>
              </p>
              
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:80%;max-width:80%" alt="profile photo" src="images/404.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                My research is in Conversational Agents and Large Language Models.
              </p>
            </td>
          </tr>
        </table>

        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>2024</h2>
                                                                    <HR>
            </td>
          </tr>
        </table> -->

        <!-- <table 
        <tr>
          <td style="padding:20px;width:25%;vertical-align:middle">
            <img src="images/respact.png" alt="respact" width="160" height="120" style="border-style: none">
          </td>
          <td width="75%" valign="middle">
            <a href="https://vardhandongre.github.io/respact-llm/" id="respact">
              <span class="papertitle"><strong>ReSpAct: Harmonizing Reasoning, Speaking, and Acting</strong></span>
            </a>
            <br>
            Vardhan Dongre, Xiaocheng Yang, <strong>Emre Can Acikgoz</strong>, Suvodip Dey, Gokhan Tur, Dilek Hakkani-Tür
            <br>
            <em>arXiv</em>, 2024
            <br>
            <a href="https://arxiv.org/abs/2411.00927">arxiv</a> 
            / <a href="https://vardhandongre.github.io/respact-llm/">website</a> 
            / <a href="https://github.com/vardhandongre/Respact">code</a> 
            <p>
              ReSpAct is a framework that enables LLM agents to engage in interactive, user-aligned task-solving. It enhances agents' ability to clarify, adapt, and act on feedback.</p>
          </td>
        </tr>
        </table> -->

        <table 
        <tr>
          <td style="padding:20px;width:25%;vertical-align:middle">
            <img src="images/fouriernet.png" alt="fouriernet" width="160" height="120" style="border-style: none">
          </td>
          <td width="75%" valign="middle">
            <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=9973287" id="fouriernet">
              <span class="papertitle"><strong>FourierNet: Shape-Preserving Network for Henle’s Fiber Layer Segmentation in Optical Coherence Tomography Images</strong></span>
            </a>
            <br>
            <strong>Selahattin Cansiz</strong>, Cem Kesim, Sevval Nur Bektas, Zeynep Kulali, Murat Hasanreisoglu, Cigdem Gunduz-Demir
            <br>
            <em>IEEE JBHI</em>, 2023
            <br>
            <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=9973287">paper</a> 
            <!-- / <a href="https://emrecanacikgoz.github.io/Bridging-the-Bosphorus/">website</a> 
            / <a href="https://github.com/emrecanacikgoz/turkish-llm">code</a> 
            / <a href="https://emrecanacikgoz.github.io/Bridging-the-Bosphorus/assets/images/poster.pdf">poster</a> -->
            <p>
              FourierNet is a new cascaded network design that puts forward the idea of benefiting the shape prior of HFL in the network training.</p>
          </td>
        </tr>
        </table>

        <!-- <table 
        <tr>
          <td style="padding:20px;width:25%;vertical-align:middle">
            <img src="images/hippo.png" alt="bridge" width="160" height="120" style="border-style: none">
          </td>
          <td width="75%" valign="middle">
            <a href="https://cyberiada.github.io/Hippocrates/" id="hippo">
              <span class="papertitle"><strong>Hippocrates: An Open-Source Framework for Advancing Large Language Models in Healthcare</strong></span>
            </a>
            <br>
            <strong>Emre Can Acikgoz</strong>, Osman Batur İnce, Rayene Bech, Arda Anıl Boz, Ilker Kesen, Aykut Erdem, Erkut Erdem
            <br>
            <em>NeurIPS Workshop (Oral)</em>, 2024
            <br>
            <a href="https://arxiv.org/abs/2404.16621">arxiv</a> 
            / <a href="https://cyberiada.github.io/Hippocrates/">website</a> 
            / <a href="https://cyberiada.github.io/Hippocrates/static/images/hippocrates-poster.pdf">poster</a>
            <p>We present Hippocrates, an open-source LLM framework specifically developed for the medical domain. Also, we introduce Hippo, a family of 7B models tailored for the medical domain, fine-tuned from Mistral and LLaMA2 through continual pre-training, instruction tuning, and reinforcement learning from human and AI feedback.</p>
          </td>
        </tr>
        </table> -->


        <!-- <table 
        <tr>
          <td style="padding:20px;width:25%;vertical-align:middle">
            <img src="images/vilma.png" alt="vilma" width="160" height="120" style="border-style: none">
          </td>
          <td width="75%" valign="middle">
            <a href="https://cyberiada.github.io/ViLMA/" id="vilma">
              <span class="papertitle"><strong>ViLMA: A Zero-Shot Benchmark for Linguistic and Temporal Grounding in Video-Language Models</strong></span>
            </a>
            <br>
            Ilker Kesen, Andrea Pedrotti, Mustafa Dogan, Michele Cafagna, <strong>Emre Can Acikgoz</strong>, Letitia Parcalabescu, Iacer Calixto, Anette Frank, Albert Gatt, Aykut Erdem, Erkut Erdem
            <br>
            <em>ICLR</em>, 2024
            <br>
            <a href="https://arxiv.org/abs/2311.07022">arxiv</a> 
            / <a href=" https://cyberiada.github.io/ViLMA/">website</a> 
            / <a href="https://github.com/ilkerkesen/ViLMA">code</a>
            <p>ViLMA (Video Language Model Assessment) presents a comprehensive benchmark for Video-Language Models, starting with a fundamental comprehension test and followed by a more advanced evaluation for temporal reasoning skills.</p>
          </td>
        </tr>
        </table> -->

                    

        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Tutor</h2>
                                                                    <HR>
              <p>
                <a href="https://aykuterdem.github.io/classes/comp547.s24/">Comp547: Deep Unsupervised Learning (Spring'24)</a>  <br>
                <a href="https://aykuterdem.github.io/classes/comp541.f23/">Comp541: Deep Learning (Fall'23)</a>  <br>
                Comp542: Natural Language Processing (Spring'23) <br>
                <a href="https://aykuterdem.github.io/classes/comp541.f22/">Comp541: Deep Learning (Fall'22)</a>  <br>
                <a href="https://aykuterdem.github.io/classes/comp547.s22/">Comp547: Deep Unsupervised Learning (Spring'22)</a>  <br>
              </p>
            </td>
          </tr>
        </table> -->

        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Talks</h2>
                                                                    <HR>
              <p>
                Huawei NLP/ML Community Seminer Series: Morphological Analysis with Large Language Models (2022, Virtual) <br>
                EMNLP MRL: Winning Paper Presentation (2022, Abu-Dhabi)
              </p>
            </td>
          </tr>
        </table> -->

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:right;font-size:small;">
                <a style="font-size:small;" href="https://jonbarron.info">[Design and source code credits]</a>
              </p>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
</body>

</html>

